@import url("bootstrap.min.css");

body{
    padding-top: 50px;
    font-family: Cambria, "Times New Roman";
}

#container-main{
    min-height: 100vh;
}

.footer-nav{
    border-bottom: none;
    margin-bottom: 0;
}